.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: center;
}
.totalItems{
    display: flex;
    align-self:center;
    justify-content: center;
    align-items: center;
}